# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
*.pot
*.py[cod]
*~
*.sqlite3
db.sqlite3

# If you're using PostgreSQL:
*.pgdata

# ENV
.env
*.env

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Local development
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.DS_Store

# React / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/build
/static/
*.map

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Docker
*.log
docker-compose.override.yml
logs/

# Optional: if using VSCode or PyCharm
.vscode/
.idea/

# Optional: if using Heroku
*.DS_Store
.heroku/
